.topmenuul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    text-align: center;
}

.topmenuulli {
    display: inline;
    margin-left: 9px;
    margin-right: 9px;
}

.topmenuulli a {
    text-decoration: none;
    color: white;
    font-family: 'Oswald', sans-serif;
}

#topmenu {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: #00008B;
}
hr {
    height: 4px;
    color: white;
    background-color: white;
}

